@tailwind base;
@tailwind components;
@tailwind utilities;

.first{
  display: flex;
}
.pic{
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
}
.second{
  display: flex;
  margin-left: 100px;
  gap: 40px;
  margin-left: 450px;
  color: grey;
}
.title{
  text-decoration: underline overline;
  border-top: 1px solid; 
}
.company{
  margin-left: 100px ;
  margin-top: 60px;
  font-size: 40px;
  color: grey;
  line-height: 40px;
}
.certificate{
  color: black;
}
.footer-background{
  height: 240px;
  width: 1350px;
  margin-top: 200px;
  display: flex;
  background-color: black;
  
}
.logo{
  display: flex;
  margin-left: 90px;
  margin-top: 30px;
  height: 50px;
  color: white;
}
.first-row{
  color: white;
  margin-left: 40px;
  margin-top: 30px;
  line-height: 35px;
}
.second-row{
  color: white;
  margin-left: 100px;
  margin-top: 30px;
  line-height: 35px;
  
}
.third-row{
  color: white;
  margin-left: 100px;
  margin-top: 30px;
  line-height: 35px;
}
.icons{
  display: flex;
  gap: 45px;
  margin-top: 20px;
}